﻿@model RenewConsentViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Renew consent for @Model.Provider</h2>
<h4>@Model.UserFullName</h4>

<div>
    Do you wish to renew your consent for open banking data from @Model.Provider?
</div>

<div>
    <button type="button" class="btn btn-primary"
            >
        <i class="bi bi-bank"></i>
        Begin
    </button>
    <button type="button" class="btn btn-dark"
            onclick="location.href = '@Url.Action("Index", "Home")'">
        <i class="bi bi-x-circle"></i>
        Cancel
    </button>
</div>