﻿@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>click here to <a href="@Model.OpenBankingAuthenticateUri">add a new bank connection</a>.</p>
</div>

<!-- 
Modal dialog to prompt whether to delete a bank connection
This content is not displayed by default on page open
-->
<div id="delete-connection-modal" class="modal" tabindex="-1" data-connection-id="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete bank connection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to remove this bank connection?</p>
                <p>
                    Note that if you do delete it then the bank accounts (and their data in this application) will
                    also be removed, however you can always reconnect to the bank to get a new connection.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nope!</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        onclick="confirmedDeleteConnection()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 
Error alert box
This content is not displayed by default on page open
-->
<div id="error" class="alert alert-danger" role="alert">
    <p id="errorText">

    </p>
</div>

<!--
Main display of providers and accounts
-->
<div>
    <h2>Accounts</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Provider</th>
            <th scope="col">Bank</th>
            <th scope="col">Sort code</th>
            <th scope="col">Account number</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var connection in Model.BankConnections)
        {
            var consentExpired = connection.ConsentExpires < DateTime.UtcNow;
            var consentWillExpireSoon = connection.ConsentExpires < DateTime.UtcNow.AddDays(15);
            var consentWarningClass = consentExpired ? "alert alert-danger" : consentWillExpireSoon ? "alert alert-warning" : "";
            var consentWarning = consentExpired ? "Warning: Consent for this account has expired, click on the renew icon above"
                : consentWillExpireSoon ? $"Warning: Consent for this account will expire on {connection.ConsentExpires.ToShortDateString()}, click on the renew icon above"
                : "";

            <tr class="@consentWarningClass">
                <td>
                    <img src="@connection.ProviderLogo" class="bank-logo" alt="logo">
                </td>
                <td colspan="4">@connection.Provider</td>
                <td>
                    <i class="bi bi-arrow-clockwise command"
                       title="Renew consent"
                       onclick="location.href = '@Url.Action("Index", "RenewConsent", new { id = connection.Id })'">
                    </i>
                    <i class="bi bi-trash command"
                       title="Delete connection"
                       onclick="deleteConnection('@connection.Id');">
                    </i>
                </td>
            </tr>

            @if (consentExpired || consentWillExpireSoon)
            {
                <tr class="@consentWarningClass">
                    <td></td>
                    <td colspan="5">@consentWarning</td>
                </tr>
            }

            @foreach (var account in connection.Accounts)
            {
                <tr>
                    <td></td>
                    <td>@account.Bank</td>
                    <td>@account.SortCode</td>
                    <td>@account.AccountNumber</td>
                    <td>@account.DisplayName</td>
                    <td>
                        <i class="bi bi-binoculars command"
                           title="View"
                           onclick="viewAccount(@account.Id);">
                        </i>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

</div>


@section Scripts
{
    <script type="text/javascript">
    
    $(document).ready(function () {
        $("#error").hide();
        });
    
    function showError(msg) {
            $("#errorText").text(msg ?? "An error occured");
            $("#error").show();
            $("#error").fadeTo(4000, 500).slideUp(500, function(){
                $("#error").hide();
            });
       }
            
    function deleteConnection(index) {       
        const modal = $("#delete-connection-modal");
        modal.data("connection-id", index);
        const modalDlg = new bootstrap.Modal(modal);
        modalDlg.show();
        }
        
    function confirmedDeleteConnection() {
        const modal = $("#delete-connection-modal");
        const id = modal.data("connection-id");
        
        console.log("Deleting", id);
        
        $.ajax({
          url: '@Url.Action("DeleteConnection")',
          method: "POST",
          data: { id: id },
          success: function(data){
            console.log("Connection deleted, reloading window", data);
            window.location.href = '@Url.Action("Index")';
          },
          error:function (xhr, ajaxOptions, thrownError){
                          console.log(xhr.responseText);
                          showError("Failed to delete the bank connection");
                        }
          });
    }

    </script>
}