﻿@model object

@{
    ViewData["Title"] = "Testing";
}

<!-- 
Error alert box
This content is not displayed by default on page open
-->
<div id="error" class="alert alert-danger" role="alert">
    <p id="errorText">

    </p>
</div>

<div>
    Account ID
    <input type="text" id="accountId" class="guid" value="4FB7A042-2762-419E-241B-08DBEF50B8C2"/>
</div>

<div>
    <span>
        From <input type="date" id="from"/>
    </span>
    <span>
        to <input type="date" id="to"/>
    </span>
</div>

<div>
    Request accounts list for account ID
    <button class="go" onclick="requestAccountsList();">Go!</button>
</div>

<div>
    Request historic transactions for account ID
    <button class="go" onclick="requestAccountHistoricTrans();">Go!</button>
</div>

<div>
    Request account transactions for account ID
    <button class="go" onclick="requestAccountTrans();">Go!</button> (uses From and To)
</div>

<div>
    Get access token for account ID
    <button class="go" onclick="getBearer();">Go!</button>
    <div>
        <textarea type="text" class="bearer" id="bearer" ></textarea>
    </div>
</div>


<div>
    Get all currencies
    <input type="checkbox" id="getCurrencyFlags"/>(include flags)
    <button class="go" onclick="getCurrencies()">Go!</button>
</div>


<!-- 

Bottom of page!!

-->

<div class="alert alert-danger fixed-bottom">
    Destroy <b>all</b> scheduled jobs and triggers!
    <button class="go" onclick="destroyAllJobs();">Yikes!</button>
</div>

<div>
    Reload currency data
    <button class="go" onclick="loadCurrencies();">Go!</button>
</div>

@section Scripts
{
    <script type="text/javascript">           
    
    $(document).ready(function () {
        $("#error").hide();
        $("#bearer").hide();
        });
    
    function showError(msg) {
            const err = $("#error");
            $("#errorText").text(msg ?? "An error occured");
            err.show();
            err.fadeTo(4000, 500).slideUp(500, function(){
                err.hide();
            });
       }
    
    function getAccountId(){
        return $("#accountId").val();
    }

    function getFromDate(){
        return $("#from").val();
    }

    function getToDate(){
            return $("#to").val();
    }

    function requestAccountsList() {
            const accountId = getAccountId();
            console.log(accountId);

             $.ajax({
                      url: '@Url.Action("RequestAccountsList")',
                      method: "POST",
                      data: { accountId: accountId },
                      success: function(data){
                          console.log("accounts:", data);
                      },
                      error:function (xhr, ajaxOptions, thrownError){
                                      console.log(xhr.responseText);
                                      showError(xhr.responseText);
                                    }
                      });
        }

    function requestAccountHistoricTrans() {
            const accountId = getAccountId();
            console.log(accountId);

            $.ajax({
                      url: '@Url.Action("RequestHistoricTransactions")',
                      method: "POST",
                      data: { accountId: accountId },
                      success: function(data){
                      },
                      error:function (xhr, ajaxOptions, thrownError){
                                      console.log(xhr.responseText);
                                      showError(xhr.responseText);
                                    }
                      });
    }

    function requestAccountTrans() {
            const accountId = getAccountId();
            console.log(accountId);
            
             $.ajax({
                      url: '@Url.Action("RequestTransactions")',
                      method: "POST",
                      data: { accountId: accountId, from: getFromDate(), to: getToDate()  },
                      success: function(data){
                      },
                      error:function (xhr, ajaxOptions, thrownError){
                                      console.log(xhr.responseText);
                                      showError(xhr.responseText);
                                    }
                      });
        }
    function getCurrencies() {
            const getFlags = ($('#getCurrencyFlags').is(":checked"));
            
            $.ajax({
                url: '@Url.Action("GetCurrencies")',
                method: "POST",
                data: { getFlags: getFlags },
                success: function (data){
                    console.log("currencies", data);
                },
                error:function (xhr, ajaxOptions, thrownError){
                      console.log(xhr.responseText);
                      showError(xhr.responseText);
                    }
            });
        }
        
    function getBearer() {
        const accountId = getAccountId();
        console.log(accountId);
        
        $("#bearer").hide();
        
         $.ajax({
                  url: '@Url.Action("GetBearer")',
                  method: "POST",
                  data: { accountId: accountId },
                  success: function(data){
                      $("textarea#bearer").val(data.bearer);
                      $("#bearer").show();
                  },
                  error:function (xhr, ajaxOptions, thrownError){
                                  console.log(xhr.responseText);
                                  showError(xhr.responseText);
                                }
                  });
        }
    
    function loadCurrencies() {
        $.ajax({
            url: '@Url.Action("LoadCurrencies")',
            method: "POST",
            success: function (data){
                },
            error: function (xhr, ajaxOptions, thrownError){
                                     console.log(xhr.responseText);
                                     showError(xhr.responseText);
                           }
                     });
           }
    
    function destroyAllJobs() {
            $.ajax({
                      url: '@Url.Action("DeleteAllJobs")',
                      method: "POST",
                      success: function(data){
                      },
                      error:function (xhr, ajaxOptions, thrownError){
                                      console.log(xhr.responseText);
                                      showError(xhr.responseText);
                                    }
                      });
         }
         
    </script>
}